.DS_Store
__pycache__
.vscode/
build/
_build/

tutorials/**/*.pickle
tutorials/**/images/
tutorials/**/*.rst
tutorials/**/*.ipynb
tutorials/**/*.zip
!tutorials/**/README.rst

environments/**/list.html
environments/**/complete_list.html
environments/**/complete_list.md
environments/box2d/*.md
environments/classic_control/*.md
environments/mujoco/*.md
environments/third_party_environments/*.md
environments/toy_text/*.md
